<!doctype html>
<html lang="en">
  <head>
    <% if (title) { %>
    <title><%= title %> | graph-layer testbed</title>
    <% } else { %>
    <title>graph-layer testbed</title>
    <% } %>
    <link rel="stylesheet" href="/app.css">
    <% for (const styleSheet in styles) { %>
    <link rel="stylesheet" href="<%= styleSheet %>">
    <% } %>
  </head>
  <body>
    <div class="content-wrapper">
      <h1>Graph Layer Testbed</h1>
      <hr>
      <div class="content">
        <%- include(content,vars) %>
      </div>
      <% if (!index) { %>
        <hr>
        <p>Click <a href="/">here</a> to go back to the home page.</p>
      <% } %>
    </div>
    <script src="/app.js"></script>
    <% for (const script in scripts) { %>
    <script src="<%= script %>"></script>
    <% } %>
  </body>
</html>
