<div class="index">
  <div class="cookies">
    <table>
      <thead>
        <th>Cookie</th>
        <th>Value</th>
      </thead>
      <tbody>
        <% for (const key in cookies) { %>
        <tr>
        <td><%= key %></td>
        <td><code><%= cookies[key] %></code></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="links">
  <% for (const [ title, entries ] of links) { %>
    <div class="links-section">
      <h3><%= title %></h3>
      <ul>
      <% for (const { route, linkText } of entries) { %>
        <li><a href="<%= route %>"><%= linkText %></a></li>
      <% } %>
      </ul>
    </div>
  <% } %>
  </div>
</div>
